/* latin */
@font-face {
    font-family: 'Consolas';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/l/font?kit=X7nm4bA-A_-9jbjWaza9xMk&skey=3d1eb1871fcc58a1&v=v10) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

.navbar {
    height: 60px;
    width: 150%;
    background-color: #3c3c3c;
    margin-left: -5%;
    margin-right: -5%;
    margin-top: -1%;
    overflow: hidden;
    position: fixed;
    padding-left: 5%;
}

.dm-img {
    height: 35px;
    width: 35px;
    margin-top: 7px;
    border-radius: 50%;
}

.dm-name {
    margin-left: 15px;
    margin-top: -10px;
    font-weight: bold;
}

.date {
    color: grey;
    margin-left: 10px;
    font-weight: normal;
    font-size: 1rem
}

.navbar-inline {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin-top: 0.5%;
}

.dm-status {
    margin-top: -15px;
    font-size: 1rem;
    padding-left: 50px;
}

.input-box {
    height: 60px;
    width: 103%;
    background-color: #3c3c3c;
    margin-left: -5%;
    margin-right: -5%;
    overflow: hidden;
    position: fixed;
    padding-left: 5%;
    padding-right: 5%;
    bottom: 0;
}

.message-input {
    height: 40px;
    width: inherit;
    filter: brightness(120%);
    margin-top: 10px;
    padding-left: 50px;
    font-size: 1.2rem;
}

#message-input {
    padding-left: 20px;
    width: 103%;
}

.message-input:focus {
    outline: none;
}

.messages-area {
    padding-top: 60px;
    padding-bottom: 70px;
}

.message-inline {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.msg-img {
    height: 35px;
    width: 35px;
    margin-top: 15px;
    border-radius: 50%;
}

.msg-content {
    margin-top: -15px;
    font-size: 1rem;
    padding-left: 50px;
    overflow-wrap: break-word;
}

.name-hyperlink:focus {
    outline: none;
}

.notif-icon {
    height: 22px;
    width: 22px;
    position: fixed;
    top: 15px;
    right: 15px;
}

.notif-icon:hover {
    cursor: pointer
}

.image-content {
    margin-left: 50px;
    border-radius: 7px;
    max-width: 70%;
    height: auto;
}

.code {
    font-family: 'Consolas';
    max-width: 60%;
    height: auto;
    background-color: #292D3E;
    margin-left: 50px;
    border-radius: 3px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    color: white;
    font-size: 15px;
    overflow-wrap: break-word;
  }
